/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
*/

.braintree-hosted-fields .input {
  border: 1px solid #d9d9db;
  border-radius: 3px;
  color: #5498DA;
  height: 30px;
  padding: 5px 10px;
}

.paypal-button-widget .paypal-button:hover {
  background: transparent;
}

.apple-pay-button {
  display: none;
  background-color: black;
  background-image: -webkit-named-image(apple-pay-logo-white);
  background-size: 100% 100%;
  background-origin: content-box;
  background-repeat: no-repeat;
  width: 100%;
  height: 44px;
  padding: 10px 0;
  border-radius: 10px;
}
