/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/backend/all.css'
*/
@import "spree/backend/globals/functions";
@import 'spree/backend/globals/deprecation';
@import "spree/backend/globals/variables_override";
@import "spree/backend/globals/variables";
@import "spree/backend/bootstrap_custom";

.braintree-hosted-fields .input {
  border: 1px solid $color-txt-brd;
  border-radius: $border-radius;
  color: $color-txt-text;
  height: 30px;
  padding: 7px 10px;
}
