<%= render "spree/shared/paypal_braintree_head_scripts" %>

<div id="paypal-button"></div>

<script>
  var paypalOptions = {
    flow: '<%= SolidusPaypalBraintree::Gateway.first.preferred_paypal_flow %>',
    enableShippingAddress: true,
    environment: '<%= Rails.env.production? ? "production" : "sandbox" %>'
  }
  var options = {
    restart_checkout: true
  }

  var button = new SolidusPaypalBraintree.createPaypalButton(
    document.querySelector("#paypal-button"),
    paypalOptions,
    options
  )

  button.initialize();
</script>
